[Unit]
Description=Radio Alarm Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=olek
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart=/bin/bash /opt/radioalarm/start.sh
ExecStop=/bin/bash /opt/radioalarm/stop.sh

[Install]
WantedBy=multi-user.target
